.gwt-TabLayoutPanelTab {
	padding: 2px;
	padding-left: 10px;
	padding-right: 10px;
}

.gwt-TabLayoutPanelTab-selected {
	background: #aaa;
}

.gwt-DialogBox {
	background: #aaa;
	width:95%;
}
